QFrame{
  background-color: @windowColor;
}

QWidget{
  background-color: @windowColor;
}
QLabel{
  background-color: @windowColor;
  color: @textColor;
}

QPushButton{
  font: 14pt 'Exo 2 Bold';
  color: @textColor;
  background-color: transparent;
  border-radius: 8;
  border: 2px solid @textDarkColor;
  background: transparent;
}

ImportAllButton{
  border: 2px solid @greenColor;
}

DeleteAllButton{
  border: 2px solid @redColor;
}

LargeLabel{
  font: 14pt 'Exo 2 Bold';
}

SmallLabel{
  font: 10pt 'Exo 2 Bold';
}
