QFrame{
  background-color: @windowColor;
}

QWidget{
  background-color: @windowColor;
}
QLabel{
  background-color: @windowColor;
  color: @textColor;
}
QPushButton{
  border: none;
  background-color: transparent;
}
QVBoxLayout{
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 10px;
}

QHBoxLayout{
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

ImportDelAllButton{
  font: 14pt 'Exo 2 Bold';
  color: @textColor;
  background-color: transparent;
  border-radius: 8;
  border: 2px solid @textDarkColor;
  background: transparent;
}

DownloadProgressBar{
  border: 2px solid grey;
  border-radius: 5px;
  background: @windowColor;
  text-align: center;
}

DownloadProgressBar::chunk{
  background-color: #b8b8b8;
  width: 1px;
}
ImportAllButton{
  border: 2px solid @greenColor;
}

DeleteAllButton{
  border: 2px solid @redColor;
}

LargeLabel{
  font: 14pt 'Exo 2 Bold';
}

SmallLabel{
  font: 10pt 'Exo 2 Bold';
}
        